<section class="max-w-6xl mx-auto px-4 py-12">
  <h2 class="text-3xl font-bold text-gray-900 dark:text-white mb-6">
    Proyectos Destacados
  </h2>

  <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
    @for (repo of featuredProjects(); track repo.name) {
    <app-github-repo-list [gitHubRepo]="repo" />
    }
  </div>

  <div class="text-center mt-8">
    <!-- <a routerLink="/portfolio" class="text-green_2 hover:text-green_4 font-medium">
      Ver todos los proyectos →
    </a> -->
    <app-button link="/portfolio" text="Ver todos los proyectos →"/>
  </div>
</section>
