<div class="max-w-4xl mx-auto p-6 flex flex-col md:flex-row items-center gap-6 transition-colors duration-500">

  <!-- Foto -->
  <div class="flex-shrink-0 flex items-center justify-center bg-sky-100 dark:bg-sky-900 rounded-full">
    <img class="w-40 h-40 object-cover rounded-2xl shadow-lg border-2 border-green_3 dark:border-green_5" src="img\Foto_mia_2.png"
      alt="Foto de Rodrigo">
  </div>

  <!-- Texto -->
  <div class="flex-1 text-gray-700 dark:text-gray-200 space-y-6">
    <!-- Saludo -->
    <div>
      <h2 class="text-2xl font-bold">Sobre mí</h2>
    </div>

    <!-- Descripción -->
    <div>
      <p>
        ¿Lo que más me define? La curiosidad. Siempre he querido entender cómo funcionan las cosas y crear algo propio a
        partir de ello. Esa inquietud fue la que me llevó al desarrollo web, un entorno donde puedo combinar lógica,
        diseño y creatividad. Desde que empecé en la programación hace unos años, no he dejado de aprender ni de buscar
        nuevos retos. Actualmente me centro en tecnologías como Angular, TypeScript, CSS, Tailwind y Bootstrap.
      </p>
      <br>
      <app-tecnical-sckills></app-tecnical-sckills>
      <br>
      <app-button link="/about" text="Saber más →"/>
    </div>
  </div>

</div>
