<div
  class="h-130 w-screen relative flex flex-col justify-center items-center text-center bg-cover bg-center ease-in-out bg-transparent" [style.background-image]="'url(../img/Foto_proyector.png)'">
  <!-- <div class="absolute inset-0 bg-black/60"></div> -->

  <div class="relative z-10 text-white px-6 max-w-3xl mx-auto">
    <h1 class="text-4xl md:text-6xl font-bold mb-4">
      ¡Hola! Soy <span class="text-green_3">Rodrigo del Bosque</span>
    </h1>
    <p class="text-lg md:text-2xl mb-8">
      Desarrollador Web junior especializado en <strong>Angular</strong>.
    </p>
  </div>
</div>
