
.subject {

  opacity: 1;
}

.animation {
  view-timeline-name:  --subject-reveal;
  view-timeline-axis: y;
  view-timeline-axis: vertical;

  animation-name: disappear;
  animation-fill-mode: both;
  animation-timeline: --subject-reveal;
  animation-duration: 1ms;
  animation-delay: 2ms;
}

@keyframes disappear {
  from {
    opacity: 1.5;
    transform: scaleY(1);
  }

  to {
    opacity: 0;
    transform: scaleY(0);
  }
}
