<div class="max-w-4xl mx-auto p-6 flex flex-col md:flex-row items-center gap-6 transition-colors duration-500">

  <!-- Foto -->
  <div class="flex-shrink-0 flex items-center justify-center bg-sky-100 dark:bg-sky-900 rounded-full">
    <img class="w-40 h-40 object-cover rounded-full ring-2 ring-green_2" src="img\Foto_mia.jpg" alt="Tu nombre">
  </div>

  <!-- Texto -->
  <div class="flex-1 text-gray-700 dark:text-gray-200 space-y-6">
    <!-- Saludo -->
    <div>
      <h2 class="text-2xl">👋 ¡Bienvenido!</h2>
    </div>

    <!-- Descripción -->
    <div>
      <p class="text-justify text-lg">
        Soy <span
          class="font-semibold  text-green_3 dark:text-green_4 transition-colors duration-500">{{envs.name}}</span>,
        programador júnior con una gran curiosidad. Siempre he querido entender el funcionamiento de lo que me rodea.
        Esa inquietud fue la que me llevó a la programación, un ámbito que me permite combinar lógica, diseño y
        creatividad.
        <br><br>
        Desde pequeño me he sentido atraído por los retos y los puzles, lo que me llevó a empezar a programar en C# con
        Unity y, con los años, a seguir avanzando con Angular, Android Studio, Swift y bases de datos. Con el tiempo
        descubrí en el desarrollo front-end el espacio donde mejor puedo unir la funcionalidad con la experiencia visual
        del usuario, creando interfaces claras, coherentes y agradables.
        <br><br>
        Valoro los entornos que impulsan la innovación y el aprendizaje constante. Me motivan los proyectos que suponen
        un reto y que me permiten seguir creciendo, tanto a nivel técnico como personal.
      </p>
    </div>
  </div>

</div>
