<div class="max-w-4xl mx-auto p-6 flex flex-col md:flex-row items-center gap-6 transition-colors duration-500">

  <!-- Foto -->
  <div class="flex-shrink-0 flex items-center justify-center bg-sky-100 dark:bg-sky-900 rounded-full">
    <img class="w-40 h-40 object-cover rounded-full ring-4 ring-green_3"
         src="img\Foto_mia_2.png"
         alt="Tu nombre">
  </div>

  <!-- Texto -->
  <div class="flex-1 text-gray-700 dark:text-gray-200 space-y-6">
    <!-- Saludo -->
    <div>
      <h2 class="text-2xl">👋 ¡Hola y bienvenido!</h2>
      <p class="mt-2 text-lg">
        Muchas gracias por tu visita, espero que te guste.
      </p>
    </div>

    <!-- Descripción -->
    <div>
      <p>
        Soy <span class="font-semibold text-green_3 dark:text-green_4 transition-colors duration-500">{{envs.name}}</span>,
        desarrollador junior con una gran curiosidad por entender cómo funcionan las cosas. Desde pequeño me han atraído los retos lógicos y las soluciones creativas, lo que me llevó a iniciarme en el desarrollo con Unity y, más adelante, a expandir mis conocimientos con Angular, Android Studio, Swift y bases de datos. Con el tiempo descubrí que mi verdadera motivación está en el desarrollo web, especialmente con Angular, JavaScript y frameworks modernos como Bootstrap o Tailwind.
        <br><br>
        Siempre he agradecido cualquier oportunidad para aprender cosas nuevas y, sobre todo, para asumir retos que me hagan salir de mi zona de confort. Disfruto explorando soluciones diferentes y encontrando maneras creativas de mejorar en cada proyecto.
      </p>
    </div>
  </div>

</div>

