<!-- <div
  class="max-w-4xl mx-auto bg-white dark:bg-gray-800 rounded-lg shadow-md shadow-gray-600 dark:shadow-gray-300 p-6 flex flex-col md:flex-row items-center gap-6 transition-colors duration-500"
> -->
<div class="max-w-4xl mx-auto p-6 flex flex-col md:flex-row items-center gap-6 transition-colors duration-500">
  <!-- Icono principal -->

  <div class="h-40 w-40 flex-shrink-0 flex items-center justify-center rounded-full object-cover ring-2 ring-green_2">
    <!-- <i class="fa-solid fa-brain text-green_1 dark:text-green_5 text-5xl"></i> -->
    <i class="fa-solid fa-user-gear  text-green_2 dark:text-green_4 text-7xl"></i>
  </div>

  <!-- Contenido -->
  <div class="flex-1 text-gray-700 dark:text-gray-200 space-y-6">
    <!-- Título -->
    <div>
      <h2 class="text-2xl text-green_2 dark:text-green_4">
        💡 Aptitudes y Habilidades
      </h2>
      <p class="mt-2 text-lg">
        Me considero una persona curiosia, creativa y con gran capacidad de adaptación.
        Siempre busco aprender y mejorar en cada proyecto.
      </p>
    </div>

    <h3 class="text-xl mb-3 text-gray-900 dark:text-white">
      🧰 Habilidades Técnicas
    </h3>
    <!-- Habilidades técnicas -->
    <app-tecnical-sckills />

    <br>

    <!-- Habilidades personales -->
    <h3 class="text-xl mb-3 text-gray-900 dark:text-white">
      🤝 Habilidades Personales
    </h3>
    <div>

      <ul class="list-disc pl-5 space-y-1">
        <li>Resolución de problemas y pensamiento lógico</li>
        <li>Aprendizaje autónomo y curiosidad constante</li>
        <li>Trabajo en equipo y comunicación efectiva</li>
        <li>Capacidad de adaptación y gestión del tiempo</li>
      </ul>
    </div>
  </div>
</div>
